header {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  font-family: sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
  cursor: pointer;
}

.text-logo {
  font-weight: 550;
}

.img-logo {
  width: 22px;
  margin-right: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 450px;
}

.nav-itens {
  list-style: none;
  padding-right: 20px;
}

.nav-links {
  text-decoration: none;
  color: rgb(77, 74, 74);
}

.entrar {
  text-decoration: none;
  color: black;
}

.btn-cadastrar {
  cursor: pointer;
  background-color: rgb(131, 47, 47);
  color: white;
  border: none;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  font-weight: 600;
  margin-left: 10px;
}

main {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sobre-nos {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aba-text {
  color: rgb(131, 47, 47);
}

.descricao {
  text-align: center;
  color: rgb(104, 103, 103);
}

.metricas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin-top: 50px;
}

.box-metrica {
  width: 800px;
  align-items: center;
  height: 200px;
}

.titulo {
  font-size: 32pt;
  color: rgb(131, 47, 47);
  margin-bottom: -10px;
}

.sub-titulo {
  margin-bottom: -5px;
}

.text-download {
  width: 270px;
}

.anuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.anuncio-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.anuncio-text {
  border-radius: 20px;
  color: rgba(131, 47, 47, 0.767);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background-color: rgba(212, 120, 120, 0.116);
}

.vagas {
  margin-top: 40px;
  width: 750px;
  height: 700px;
}

.vaga-conteiner {
  width: 750px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-vaga {
  width: 750px;
  margin-bottom: 20px;
}

.desc-vaga {
  width: 700px;
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  padding: 0 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.desc-vaga:hover {
  color: white;
  background-color: rgba(131, 47, 47, 0.767);
  transition: 0.3s;
}

.info-vaga {
  width: 700px;
  display: flex;
}

.carga-hora {
  margin-right: 30px;
}
