@media screen and (max-width: 500px) {
  body {
    width: 500px;
  }
  header {
    width: 500px;
    background-color: aliceblue;
  }
  .img-1 {
    display: none;
  }

  .img-2 {
    display: none;
  }

  .search-conteiner {
    width: 480px;
    height: 230px;
    flex-direction: column;
  }

  .search-input {
    width: 300px;
    margin-bottom: 20px;
  }

  .search-button {
    width: 150px;
  }

  main {
    width: 500px;
  }

  .main-content {
    width: 350px;
  }
  .blocos-conteiner {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  #bloco2 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco4 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco1 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco3 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco5 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco6 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco7 {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  #bloco8 {
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
